h1 Sign Up
div
    h2 Email
    input(ng-model='email')
    h2 Password
    input(ng-model='password' type='password')
    div
        button.btn.btn-default(ng-click='vm.signUp()') Create User
a(ui-sref="home") Home